body {
    background-color: black;
    font-family: 'Helvetica';
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;

}

.header {
    position: fixed;
    z-index: 5;
    background-color: black;
    width: 100%;
    display: inline-block;
}

.logo {
    height: 50px;
    margin-top: 9px;
    margin-bottom: 10px;
    float: left;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 16px;
    text-decoration: underline;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.banner {
    height: 700px;
    width: auto;
}
.featured {
    background-color: white;
}



.container2 {
    display: inline-flex;
    align-items: initial;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;

}

.one img, .two img, .three img, .four img, .five img {
    height: 200px;
    width: 300px;
    padding: 10px;
  }

.month {
    position: relative;
    width:100%;
    max-width: 100%;
    justify-content: center;
}

/* Container holding the image and the text */
.container1 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 69px;
    width: 100%;
    background-image: url("resources/images/img-mission-background.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 350px;
    padding-bottom: 350px;

  }

  .mission {
    background-color: black;
    padding: 10px;  
  }


  h2, h3, h4, h5 {
    text-align: center;
  }

  h2.month {
    margin-top: 100px;
  }

.container3 {
  width: 100%;
  margin-top: 100px;
  background-image: url("resources/images/img-locations-background.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
  padding-bottom: 400px;
}

.locations {
  display: inline-flex;
  background-color: black;
  width: 300px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  
}

p {
  line-height: 3;
  margin-top: -10px;
}

.footer {
  height: 200px;
}

#contact {
  margin-top: 30px;
}


#copywright {
  float: left;
  margin-left: 20px;
}