
body {
  background-color: black;
  font-family: Helvetica;
  color: white;
  text-align: center;
  
  .person {
    background-image: url("resources/images/portrait.png");
    border-radius: 50px;
    
}
